[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
django = "*"
django-cors-headers = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
serializers = "*"
coreapi = "*"
pyyaml = "*"
drf-jwt = "*"
python-dotenv = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.9"
